@CHARSET "ISO-8859-1";
*{margin: 0; padding: 0;}
html{
	height: 100%;
	background: linear-gradient(rgba(40,150,101,0.9), rgba(40,150,101,0.9));/*52,177,140,0.9*/
}

body{
	font-family: "Trebuchet MS", tahoma, arial;	
	
}

#formulario{
	width: 1300px;/*largura do formulário*/
	margin: 50px auto;
	text-align: center;
	position: relative;
	/*background: #000;*/
}

#formulario h2,#formulario h3{
	font: 22px "Trebuchet MS", tahoma, arial;
	color: #090;
	width: 100%;
	float: left;
	text-align: left;
	margin-bottom: 4%;
}

#formulario h3{color:#333; font-size-adjust: 17px}

#formulario fieldset {
	background: white;
	border: 0 none;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
	box-shawdow: 0 0 15px 1px rgba(0,0,0,0.4);
	padding: 20px 30px;
	
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	position: absolute;/*Deixa o formulário em posição abisoluta*/
	
}

/*Formatação importante*/
#formulario fieldset:not(:first-of-type){
	display: none;;
}

 #formulario textarea {/*#formulario input,*/
	padding: 10px;
	border: 1px solid rgba(38,128,101,0.9);
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	outline: none;
	box-sizing: border-box;
	width: 100%;
	font: 14px "Trebuchet MS", tahoma, arial;
	color:#090;
	margin-bottom: 10px;
}

#formulario .acao{
	width: 100px;
	background: rgba(38,128,101,0.9);
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 12px 0;
	float: left;
	margin-right: 5%;
}

#formulario .acao:HOVER{background: rgba(52,177,140,0.9); cursor: pointer;}

#formulario #progress{
	
	margin-bottom: 30px;
	overflow: hidden;	
	counter-reset: step;
}

#formulario #progress li{
	list-style-type: none;
	color: white;/*white*/
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10px;
	float:left;
	width: 24.27%;
	position: relative;
}

#formulario #progress li:before{
	content: counter(step);
	counter-increment: step;
	width: 20px;
	display: block;
	line-height: 20px;
	background: white;;
	color:#333;/**/
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	
	margin:0 auto 10px auto;
}

#formulario #progress li:after{
	content: '';
	width: 100%;
	background: white;/*white*/
	height: 2px;
	position: absolute;
	top:9px;
	left: -50%;	
	z-index: -1;
}

#formulario #progress li:first-child:after{
	content: none;
}

#formulario #progress li.ativo:before, #formulario #progress li.ativo:after{
	background: rgba(40, 208, 141, 0.9);
	color: white;/*white*/
	text-shadow: 0 1px 0;
}

.hint{display:none;}
	
.field:hover .hint {  
	position: absolute;
	display: block;  
	margin: -30px 0 0 455px;
	color: #FFFFFF;
	padding: 7px 10px;
	background: rgba(0, 0, 0, 0.6);
	
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;	
	}
	
.field{margin-bottom:7px;}

.input{
	font: 14px "Trebuchet MS", tahoma, arial;
	padding: 5px; 
	border: 1px solid rgba(38,128,101,0.9);
	border-radius:4px;
	width: 300px; 
	color: #797979;	
	}
	
	.input:focus{background-color:#E7E8E7;}